<template>
  <div class="app-wrapper page-container md-layout-row">
    
    <admin-toolbar v-if="isAdmin" />

    <div :class="{
      'admin-content': isAdmin,
      'user-content': !isAdmin
    }">
      <client-toolbar v-if="!isAdmin" />
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import AdminToolbar from '@/components/Admin/AdminToolbar.vue'
import ClientToolbar from './components/ClientSide/ClientToolbar.vue'
export default {
  components: { AdminToolbar, ClientToolbar },
  computed: {
    isAdmin () {
      return this.$route.path.includes('admin') && !this.$route.path.includes('login')
    }
  }
}
</script>

<style lang="scss">
  .main-view {
    padding: 30px;
  }

  .app-wrapper {
    display: flex;
    height: 100vh;
    background: white;
  }

  .admin-content {
    width: calc(100% - 300px);
  }

  .user-content {
    width: 100%;
  }

  .md-table-cell, .md-table-head {
    font-size: 16px !important;
  }
  .md-content {
    padding: 24px;
  }
  .md-content.md-table, .md-content.md-table-content {
    padding: 0;
  } 
</style>
