<template>
  <div class="admin-toolbar">
    <div class="admin-toolbar__fixed">
      <md-toolbar class="logo md-transparent" md-elevation="0">
        Nekinopoisk.dashboard
        <md-tooltip md-direction="right">Выполнил Мурадасилов У.Д. И-1-18</md-tooltip>
      </md-toolbar>
      <md-list>
        <md-list-item
          v-for="(item, index) in list"
          :key="index"
          @click.prevent="navigateToRoute(item.route)"
        >
          <md-icon>{{ item.icon }}</md-icon>
          <span class="md-list-item-text">{{ item.text }}</span>
        </md-list-item>

        <md-divider :class="'list-divider'"></md-divider>
        <md-list-item
          @click.prevent="backToRoot"
        >
          <md-icon>keyboard_return</md-icon>
          <span class="md-list-item-text">Вернуться на сайт</span>
        </md-list-item>
        <md-list-item
          @click.prevent="logout"
        >
          <md-icon>logout</md-icon>
          <span class="md-list-item-text">Выйти</span>
        </md-list-item>

      </md-list>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [
        {
          icon: "people",
          route: "AdminUsers",
          text: "Пользователи"
        },
        {
          icon: "movie",
          route: "AdminMovies",
          text: "Фильмы"
        },
        {
          icon: "star",
          route: "AdminActors",
          text: "Актёры"
        }
      ]
    }
  },
  methods: {
    navigateToRoute(name) {
      if(this.$route.name === name) {
        return
      }
      this.$router.push({ name })
    },
    logout () {
      localStorage.removeItem('token')
      this.$store.commit("set_admin_logged", false);
      this.$store.commit("set_token", "");
      this.backToRoot()
    },
    backToRoot () {
        this.$router.push('/')
    },
  }
}
</script>

<style lang="scss">
  .admin-toolbar {
    background: white;
    width: 300px;

    .logo {
      font-size: x-large;
    }
    
    &__fixed {
      position: fixed;
      width: 300px;
      border-right: 1px solid rgba(199, 199, 199, 0.493);
      height: 100%;
    }
    .md-list .list-divider {
      margin: 15px 0;
    }
  }

</style>
