<template>
  <div class="preview-block">
    <div class="preview-block__header">
      <span class="md-headline">Превью</span>
      <slot></slot>
    </div>
    <div class="preview-block__image-list">
      <div v-for="(preview, index) in previews" :key="preview" class="preview-block__image-item">
        <img :src="preview" />
        <md-button @click.prevent="deletePreview(preview)" class="preview-block__delete md-icon-button md-raised md-primary">
          <md-icon>delete</md-icon>
        </md-button>
        <md-tooltip v-if="index === 0" md-direction="left">Это обложка</md-tooltip>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    previews: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    deletePreview(preview) {
      this.$emit('preview-was-deleted', preview)
    }
  }
}
</script>

<style lang="scss">
.preview-block {
  position: absolute;
  left: 800px;
  top: 100px;

  &__image-item {
    position: relative;
    overflow: hidden;

    &:hover {
      .preview-block__delete {
        top: 5px;
      }
    }
  }

  &__delete {
    position: absolute;
    top: -45px;
    left: 0;
  }

  &__header {
    display: flex;

    .upload {
      margin-top: -3px;
    }
  }

  &__image-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 610px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
</style>