<template>
  <div>
    <md-toolbar class="md-primary">
        <md-button @click="goBack" class="md-icon-button md-primary">
          <md-icon>keyboard_return</md-icon>
        </md-button>
      <h3 class="md-title">{{ this.$route.params.id ? 'Редактирование' : 'Создание' }} пользователя</h3>
    </md-toolbar>

    <div class="entity-form">
      <md-field>
        <label>Имя пользователя</label>
        <md-input 
          :value="user.name"
          @focus="setFocus('name')"
          @input="setInput"
        ></md-input>
      </md-field>
      <md-field>
        <label>Email</label>
        <md-input 
          :value="user.email"
          @focus="setFocus('email')"
          @input="setInput"
        ></md-input>
      </md-field>
      <md-field class="input-password">
        <label>Пароль</label>
        <md-input 
          :value="user.password"
          autocomplete="off"
          @focus="setFocus('password')"
          @input="setInput"
        ></md-input>
      </md-field>
      
      <md-field>
        <label>Роль</label>
        <md-select v-model="user.role">
          <md-option value="user">Пользователь</md-option>
          <md-option value="admin">Админ</md-option>
        </md-select>
      </md-field>

      <md-field class="favorites">
        <label>Любимые фильмы</label>
        <md-button @click="openFavoriteMoviesModal" class="md-icon-button md-primary">
          <md-icon>edit</md-icon>
        </md-button>
        
        <div class="favorites__list">
          <md-chip
            v-for="movie in user.favoriteMovies"
            :key="movie._id"
            class="md-primary"
            md-readonly
          >
            {{ movie.title }}
          </md-chip>
        </div>
      </md-field>

      <md-field class="favorites">
        <label>Любимые актёры</label>
        <md-button @click="openFavoriteCastPersonsModal" class="md-icon-button md-primary">
          <md-icon>edit</md-icon>
        </md-button>
        <div class="favorites__list">
          <md-chip
            v-for="castPerson in user.favoriteCastPersons"
            :key="castPerson._id"
            class="md-primary"
            md-readonly
          >
            {{ castPerson.name }}
          </md-chip>
        </div>
      </md-field>

      <md-button
        @click="saveEntity"
        class="md-button md-primary md-raised"
        style="margin: 30px 0"
      >
        {{ this.$route.params.id ? 'Сохранить изменения' : 'Создать' }}
      </md-button>
    </div>

    <add-entity-modal @entity-was-modified="modifyFavorite" v-if="modalOptions.show" :modal-options="modalOptions" />
  </div>
</template>

<script>
import AddEntityModal from './modals/AddEntityModal.vue'
export default {
  components: { AddEntityModal },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
        vm.$store.commit('set_user', {
          name: "",
          email: "",
          favoriteCastPersonsIds: null,
          favoriteMoviesIds: null,
          favoriteMovies: [],
          favoriteCastPersons: [],
          reviewsIds: null,
          role: "",
          password: "",
        })

        const userId = vm.$route.params.id

        if(userId) {
          await vm.$store.dispatch('fetch_user', { _id: userId })
        }
    })
  },
  data () {
    return {
      currentInput: '',
      modalOptions: {
        entity: 'movie' /** | 'castPerson' */,
        entityList: [],
        show: false
      }
    }
  },
  created () {
    if(!this.$route.params.id) {
      this.user.role = 'user'
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    movies () {
      return this.$store.getters.movies
    }
  },
  methods: {
    getDate(date) {
      return `${new Date(date).toLocaleTimeString()} ${new Date(date).toLocaleDateString()}`
    },
    setInput (input) {
      this.user[this.currentInput] = input
    },
    setFocus(field) {
      this.currentInput = field
    },
    openFavoriteMoviesModal () {
      this.modalOptions.entity = 'movie'
      this.modalOptions.entityList = this.user.favoriteMovies
      this.modalOptions.show = true
    },
    openFavoriteCastPersonsModal () {
      this.modalOptions.entity = 'cast-person'
      this.modalOptions.entityList = this.user.favoriteCastPersons
      this.modalOptions.show = true
    },
    modifyFavorite(payload) {
      const { entity, entityList } = payload

      if(entity === 'movie') {
        this.user.favoriteMovies = entityList.map(entity => ({
          ...entity,
          title: entity.name,
          _id: entity.id
        }))
      }

      if(entity === 'cast-person') {
        this.user.favoriteCastPersons = entityList.map(entity => ({
          ...entity,
          _id: entity.id
        }))
      }
    },
    async saveEntity () {
      const user = this.user

      const favoriteMoviesIds = user.favoriteMovies.map(movie => movie._id)
      const favoriteCastPersonsIds = user.favoriteCastPersons.map(person => person._id)

      const body = {
        ...user,
        favoriteMoviesIds,
        favoriteCastPersonsIds
      }
      
      delete body.favoriteMovies
      delete body.favoriteCastPersons
      delete body.updatedAt
      delete body.updatedAt
      delete body[""]


      if(this.$route.params.id) {
        await this.$store.dispatch('update_user', { _id: this.user._id, body })
      } else {
        await this.$store.dispatch('create_user', { body })
      }

      this.$router.push({ name: "AdminUsers" })
    },
    goBack () {
      this.$router.push({ name: 'AdminUsers' })
    }
  }
}
</script>

<style lang="scss">
  @font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }

  .input-password {
    .md-input {
      font-family: 'password'
    }
  }


  .entity-form {
    margin-left: 50px;
    width: 400px;
    padding-top: 20px;
  }

  .favorites {
    button {
      position: absolute;
      right: 0;
    }

    &__list {
      margin-top: 35px;
      margin-bottom: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 3px;

      .md-chip {
        margin: 0;
      }
    }
  }
</style>