<template>
  <div>
    <md-toolbar class="md-primary">
      <h3 class="md-title">Пользователи</h3>
      <md-button @click="createEntity" class="md-icon-button md-mini md-raised add-btn">
        <md-icon>add</md-icon>
      </md-button>
    </md-toolbar>
    <md-table>
      <md-table-row>
        <md-table-head class="id-row">ID</md-table-head>
        <md-table-head>Имя</md-table-head>
        <md-table-head>E-mail</md-table-head>
        <md-table-head>Роль</md-table-head>
        <md-table-head>Зарегистрирован</md-table-head>
        <md-table-head class="controls-row">Действия</md-table-head>
      </md-table-row>

      <md-table-row v-for="user in users" :key="user._id">
        <md-table-cell  class="id-row">{{ user._id }}</md-table-cell>
        <md-table-cell>{{ user.name }}</md-table-cell>
        <md-table-cell>{{ user.email }}</md-table-cell>
        <md-table-cell>{{ user.role }}</md-table-cell>
        <md-table-cell>{{ getDate(user.createdAt) }}</md-table-cell>
        <md-table-cell class="controls-row">
          <md-button @click="editEntity(user._id)" class="md-icon-button md-mini md-raised">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button :disabled="user.name === 'admin'" @click="deleteEntity(user._id)" class="md-icon-button md-mini md-raised md-accent">
            <md-icon>delete_outline</md-icon>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.dispatch('fetch_users')
    })
  },
  computed: {
    users () {
      return this.$store.getters.users
    }
  },
  methods: {
    getDate (date) {
      return `${new Date(date).toLocaleTimeString()} ${new Date(date).toLocaleDateString()}`
    },
    createEntity() {
      this.$router.push({ name: 'AdminUsersCreate' })
    },
    editEntity (id) {
      this.$router.push({ name: 'AdminUsersUpdate', params: { id } })
    },
    async deleteEntity(_id) {
      await this.$store.dispatch('delete_user', { _id })
      await this.$store.dispatch('fetch_users')
    }
  }
}
</script>

<style lang="scss">
  .id-row {
    width: 0;
    word-wrap: break-word;

    .md-table-cell-container {
      width: 120px;
    }
  }

  .controls-row {

    .md-table-cell-container {
      display: flex;
    }
  }

  .add-btn {
    margin-left: auto !important;

    i {
      color: grey !important;
    }
  }
</style>