<template>
  <div>
    <md-toolbar class="md-primary">
        <md-button @click="goBack" class="md-icon-button md-primary">
          <md-icon>keyboard_return</md-icon>
        </md-button>
      <h3 class="md-title">{{ this.$route.params.id ? 'Редактирование' : 'Создание' }} фильма</h3>
    </md-toolbar>

    <div class="entity-form">
      <md-field>
        <label>Название</label>
        <md-input 
          :value="movie.title"
          @focus="setFocus('title')"
          @input="setInput"
        ></md-input>
      </md-field>
      <md-field>
        <label>Описание</label>
        <md-textarea 
          :value="movie.description"
          @focus="setFocus('description')"
          @input="setInput"
        ></md-textarea>
      </md-field>
      <div class="">
        <label style="margin-bottom: 20px">Дата выхода</label>
        <md-datepicker md-immediately v-model="year" />
      </div>

      <md-field>
        <label for="movie">Жанр</label>
        <md-select v-model="movie.genre">
          <md-option value="comedy">Комедия</md-option>
          <md-option value="horror">Хоррор</md-option>
          <md-option value="sci-fi">Sci-Fi</md-option>
          <md-option value="drama">Драма</md-option>
          <md-option value="cartoon">Мультфильм</md-option>
          <md-option value="triller">Триллер</md-option>
        </md-select>
      </md-field>

      <dashboard-previews :previews="movie.previews" @preview-was-deleted="deletePreview">
        <upload-image @file-was-uploaded="addPreviews" />
      </dashboard-previews>

      <md-field class="favorites">
        <label>Актёры</label>
        <md-button @click="openCastPersonsModal" class="md-icon-button md-primary">
          <md-icon>edit</md-icon>
        </md-button>
        
        <div class="favorites__list">
          <md-chip
            v-for="castPerson in movie.castPersons"
            :key="castPerson._id"
            class="md-primary"
            md-readonly
          >
            {{ castPerson.name }}
          </md-chip>
        </div>
      </md-field>

      <md-button
        @click="saveEntity"
        class="md-button md-primary md-raised"
        style="margin: 30px 0"
      >
        {{ this.$route.params.id ? 'Сохранить изменения' : 'Создать' }}
      </md-button>
    </div>

    <add-entity-modal @entity-was-modified="modifyFavorite" v-if="modalOptions.show" :modal-options="modalOptions" />
  </div>
</template>

<script>
import UploadImage from '@/components/UploadImage.vue'
import AddEntityModal from './modals/AddEntityModal.vue'
import DashboardPreviews from '../../components/Admin/DashboardPreviews.vue'
export default {
  components: { AddEntityModal, UploadImage, DashboardPreviews },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
        vm.$store.commit('set_movie', {
          castPersons: [],
          previews: [],
          year: new Date(),
          genre: 'comedy'
        })

        const id = vm.$route.params.id

        if(id) {
          await vm.$store.dispatch('fetch_movie', { _id: id })
        }
    })
  },
  data () {
    return {
      currentInput: '',
      modalOptions: {
        entity: 'movie' /** | 'castPerson' */,
        entityList: [],
        show: false
      },
      date: new Date()
    }
  },
  watch: {
    files (v) {
      console.log(v)
    }
  },
  computed: {
    movie () {
      return this.$store.getters.movie
    },
    year: {
      get () {
        return new Date(this.movie.year)
      },
      set (value) {
        this.date = value
      }
    }
  },
  methods: {
    getDate(date) {
      return `${new Date(date).toLocaleTimeString()} ${new Date(date).toLocaleDateString()}`
    },
    setInput (input) {
      this.movie[this.currentInput] = input
    },
    setFocus(field) {
      this.currentInput = field
    },
    openCastPersonsModal () {
      this.modalOptions.entity = 'cast-person'
      this.modalOptions.entityList = this.movie.castPersons
      this.modalOptions.show = true
    },
    modifyFavorite(payload) {
      const { entity, entityList } = payload

      if(entity === 'cast-person') {
        this.movie.castPersons = entityList
      }
    },
    async saveEntity () {
      const movie = this.movie

      const castPersonsIds = movie.castPersons.map(person => '_id' in person ? person._id : person.id)
      const year = this.date

      const body = {
        ...movie,
        year,
        castPersonsIds
      }
      
      delete body.castPersons

      if(this.$route.params.id) {
        await this.$store.dispatch('update_movie', { _id: this.movie._id, body })
      } else {
        await this.$store.dispatch('create_movie', { body })
      }

      this.goBack()
    },
    goBack () {
      this.$router.push({ name: 'AdminMovies' })
    },
    addPreviews (response) {
      if(!this.movie.previews) {
        this.movie.previews = []
      }
      this.movie.previews.push(response.url)
    },
    deletePreview (preview) {
      this.movie.previews = this.movie.previews.filter(previewToRemove => previewToRemove !== preview)
    }
  }
}
</script>

<style lang="scss">
  .entity-form {
    margin-left: 50px;
    width: 400px;
    padding-top: 20px;
  }

  .favorites {
    button {
      position: absolute;
      right: 0;
    }

    &__list {
      margin-top: 35px;
      margin-bottom: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 3px;

      .md-chip {
        margin: 0;
      }
    }
  }
</style>