<template>
  <div>
    <md-toolbar class="md-primary">
      <h3 class="md-title">Актёры</h3>
      <md-button @click="createEntity" class="md-icon-button md-mini md-raised add-btn">
        <md-icon>add</md-icon>
      </md-button>
    </md-toolbar>
    <md-table>
      <md-table-row>
        <md-table-head class="id-row">ID</md-table-head>
        <md-table-head></md-table-head>
        <md-table-head>Имя</md-table-head>
        <md-table-head>Год рождения</md-table-head>
        <md-table-head class="controls-row">Действия</md-table-head>
      </md-table-row>

      <md-table-row v-for="entity in cast_persons" :key="entity._id">
        <md-table-cell  class="id-row">{{ entity._id }}</md-table-cell>
        <md-table-cell class="image-row"><img :src="getPreview(entity)" /></md-table-cell>
        <md-table-cell>{{ entity.name }}</md-table-cell>
        <md-table-cell>{{ getDate(entity.birthDate) }}</md-table-cell>
        <md-table-cell class="controls-row">
          <md-button @click="navigateToEntity(entity)" class="md-icon-button md-mini md-raised md-primary">
            <md-icon>visibility</md-icon>
          </md-button>
          <md-button @click="editEntity(entity._id)" class="md-icon-button md-mini md-raised">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button @click="deleteEntity(entity._id)" class="md-icon-button md-mini md-raised md-accent">
            <md-icon>delete_outline</md-icon>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.dispatch('fetch_cast_persons')
    })
  },
  computed: {
    cast_persons () {
      return this.$store.getters.cast_persons
    }
  },
  methods: {
    getDate (date) {
      return `${new Date(date).getFullYear()}`
    },
    createEntity() {
      this.$router.push({ name: 'AdminCastPersonsCreate' })
    },
    editEntity (id) {
      this.$router.push({ name: 'AdminCastPersonsUpdate', params: { id } })
    },
    async deleteEntity(_id) {
      await this.$store.dispatch('delete_cast_person', { _id })
      await this.$store.dispatch('fetch_cast_persons')
    },
    getPreview (entity) {
      return entity.previews && entity.previews.length
        ? entity.previews[0]
        : require('@/assets/image-placeholder.png')
    },
    navigateToEntity(entity) {
      this.$router.push({ name: 'ActorDetails', params: { id: entity._id } })
    }
  }
}
</script>

<style lang="scss">
  .image-row {
    width: 150px;
    img {
      object-fit: cover;
      width: 75px;
      height: 75px;
    }
  }
  .id-row {
    width: 0;
    word-wrap: break-word;

    .md-table-cell-container {
      width: 120px;
    }
  }

  .controls-row {

    .md-table-cell-container {
      display: flex;
    }
  }

  .add-btn {
    margin-left: auto !important;

    i {
      color: grey !important;
    }
  }
</style>