<template>
  <div>
    <md-toolbar class="md-primary">
        <md-button @click="goBack" class="md-icon-button md-primary">
          <md-icon>keyboard_return</md-icon>
        </md-button>
      <h3 class="md-title">{{ this.$route.params.id ? 'Изменение' : 'Добавление' }} актёра</h3>
    </md-toolbar>

    <div class="entity-form">
      <md-field>
        <label>ФИО</label>
        <md-input 
          :value="cast_person.name"
          @focus="setFocus('name')"
          @input="setInput"
        ></md-input>
      </md-field>
      <div class="">
        <label style="margin-bottom: 20px">Дата рождения</label>
        <md-datepicker v-model="birthDate" />
      </div>

      <md-button
        @click="saveEntity"
        class="md-button md-primary md-raised"
        style="margin: 30px 0"
      >
        {{ this.$route.params.id ? 'Сохранить изменения' : 'Создать' }}
      </md-button>

      <dashboard-previews :previews="cast_person.previews" @preview-was-deleted="deletePreview">
        <upload-image @file-was-uploaded="addPreviews" />
      </dashboard-previews>
    </div>
  </div>
</template>

<script>
import DashboardPreviews from '@/components/Admin/DashboardPreviews.vue'
import UploadImage from '@/components/UploadImage.vue'
export default {
  components: { DashboardPreviews, UploadImage },
  beforeRouteEnter(to, from, next) {
    next(async vm => {
        vm.$store.commit('set_cast_person', {
          birthDate: new Date(),
          occupation: 'actor',
          previews: []
        })

        const id = vm.$route.params.id

        if(id) {
          await vm.$store.dispatch('fetch_cast_person', { _id: id })
        }
    })
  },
  data () {
    return {
      currentInput: '',
      date: new Date()
    }
  },
  computed: {
    cast_person () {
      return this.$store.getters.cast_person
    },
    birthDate: {
      get () {
        return new Date(this.cast_person.birthDate)
      },
      set (value) {
        this.date = value
      }
    }
  },
  methods: {
    getDate(date) {
      return `${new Date(date).toLocaleTimeString()} ${new Date(date).toLocaleDateString()}`
    },
    setInput (input) {
      this.cast_person[this.currentInput] = input
    },
    setFocus(field) {
      this.currentInput = field
    },
    async saveEntity () {
      const cast_person = this.cast_person

      const birthDate = this.date

      const body = {
        ...cast_person,
        birthDate
      }
      
      delete body[""]
      delete body.moviesStarred

      if(this.$route.params.id) {
        await this.$store.dispatch('update_cast_person', { _id: this.cast_person._id, body })
      } else {
        await this.$store.dispatch('create_cast_person', { body })
      }

      this.goBack()
    },
    goBack () {
      this.$router.push({ name: 'AdminActors' })
    },
    addPreviews (response) {
      if(!this.cast_person.previews) {
        this.cast_person.previews = []
      }
      this.cast_person.previews.push(response.url)
    },
    deletePreview (preview) {
      this.cast_person.previews = this.cast_person.previews.filter(previewToRemove => previewToRemove !== preview)
    }
  }
}
</script>

<style lang="scss">
  .entity-form {
    margin-left: 50px;
    width: 400px;
    padding-top: 20px;
  }

  .favorites {
    button {
      position: absolute;
      right: 0;
    }

    &__list {
      margin-top: 35px;
      margin-bottom: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 3px;

      .md-chip {
        margin: 0;
      }
    }
  }
</style>