<template>
  <div class="login-form">
    <div class="login-window">
      <span class="md-headline">Вход</span>
      <md-field>
        <label>Логин</label>
        <md-input v-model="username"></md-input>
      </md-field>
      <md-field>
        <label>Пароль</label>
        <md-input type="password" v-model="password"></md-input>
      </md-field>
      <md-button @click="performAuth" class="md-dense md-primary md-raised ">Войти</md-button>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      username: 'admin',
      password: '666666',
      wrongCredentialsValidation: false,
      keepLogged: true
    }
  },
  methods: {
    performAuth() {
        const baseUrl = process.env.VUE_APP_BASE_URL;
      
        const authObject = {
            username: this.username,
            password: this.password
        }

        this.$http.post(`${baseUrl}/auth/login`, authObject)
        .catch(() => {
            this.wrongCredentialsValidation = true
        })
        .then(res => {
            const token = res.data.access_token
            const loggedUser = JSON.stringify(res.data.user)

            if(this.keepLogged) {
                localStorage.setItem('token', token)
                localStorage.setItem('user', loggedUser)
            }
            this.$store.commit('set_admin_logged', true)
            this.$store.commit('set_token', token)
            this.$store.commit('set_logged_user', loggedUser)

            if(res.data.user.role === 'admin') {
              this.$router.push('/admin/users')
            } else {
              this.$router.push('/')
            }
            
        })
    },
  }
}
</script>

<style lang="scss">
  .login-form {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .login-window {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 150px;
  }
</style>