<template>
  <div class="main-view">
    <div class="main-view__header">
      <span class="md-display-1">Актёры</span>
    </div>

    <div class="movie-filters">
      <md-field>
        <label>Поиск по ФИО</label>
        <md-input v-model="searchQuery"></md-input>
      </md-field>
    </div>

    <div class="movie-card__list">
      <md-card v-for="actor in actors" :key="actor._id" class="movie-card">
        <md-card-content>
          <img @click="navigateToMovieDetails(actor)" :src="getPreview(actor)" />
        </md-card-content>
        <md-card-actions>
          <span>
            {{ actor.name }} ({{ new Date(actor.birthDate).getFullYear() }})
          </span>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
import { debounce } from 'vue-debounce'

export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.dispatch('fetch_cast_persons')
    })
  },
  data () {
    return {
      searchQuery: '',
      params: {}
    }
  },
  watch: {
    searchQuery: debounce(function(val) {
      this.params["name.contains"] = val

      if(!val) {
        delete this.params["name.contains"]
      }

      this.$store.dispatch('fetch_cast_persons', this.params)
    }, 500),
  },
  computed: {
    actors () {
      return this.$store.getters.cast_persons
    }
  },
  methods: {
    getPreview (entity) {
      return entity.previews && entity.previews.length
        ? entity.previews[0]
        : require('@/assets/image-placeholder.png')
    },
    navigateToMovieDetails (actor) {
      this.$router.push({ name: 'ActorDetails', params: { id: actor._id } })
    }
  }
}
</script>

<style lang="scss">
  .movie-filters {
    display: flex;
    gap: 30px;
  }

  .movie-card {
    cursor: pointer;
    width: 250px;
    margin-top: 20px;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }

    &__list {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
    }

    .md-card-actions {
      margin-top: -10px;
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
  }
</style>