<template>
  <div class="main-view">
    <carousel :perPage="2" :paginationEnabled="false">
      <slide v-for="slide in slides" :key="slide._id">
        <img  @click="navigateToMovieDetails(slide)" :src="slide.previews[0]" />
        <div class="slide-info">
          <span class="md-display-2">{{ slide.title }}</span>
          <span class="md-body-2">{{ slide.description }}</span>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slides: []
    }
  },
  async created () {
    this.slides = await this.$store.dispatch('fetch_movies', { returnOnly: true })
      .then(response => {
        return response.map(({ _id, title, description, previews }) => ({
          _id, title, description, previews
        })).filter(slide => slide.previews.length).splice(0, 6).reverse()
      })
  },
  methods: {
    navigateToMovieDetails (movie) {
      this.$router.push({ name: 'MovieDetails', params: { id: movie._id } })
    }
  }
}
</script>

<style lang="scss">
  .main-view {
    height: 100%;
  }

  .VueCarousel {
    &-wrapper {
      height: 400px;
    }
    &-inner {
      height: 100% !important;
    }
    &-slide {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 25px;
      cursor: pointer;
    }

    .slide-info {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .md-display-2 {
        font-weight: bold;
        margin-bottom: 10px;
      }
      .md-body-2 {
        line-height: 2;
        max-height: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
</style>