<template>
  <div class="main-view">
    <div class="main-view__header">
      <span class="md-display-1">Фильмы</span>
    </div>

    <div class="movie-filters">
      <md-field>
        <label>Поиск по названию</label>
        <md-input v-model="searchQuery"></md-input>
      </md-field>
      <md-field>
        <md-select v-model="genre" placeholder="Жанр">
          <md-option value="">Все</md-option>
          <md-option value="comedy">Комедия</md-option>
          <md-option value="horror">Хоррор</md-option>
          <md-option value="sci-fi">Sci-Fi</md-option>
          <md-option value="drama">Драма</md-option>
          <md-option value="cartoon">Мультфильм</md-option>
          <md-option value="triller">Триллер</md-option>
        </md-select>
      </md-field>
    </div>

    <div class="movie-card__list">
      <md-card v-for="movie in movies" :key="movie._id" class="movie-card">
        <md-card-content>
          <img @click="navigateToMovieDetails(movie)" :src="getPreview(movie)" />
        </md-card-content>
        <md-card-actions>
          <span>
            {{ movie.title }} ({{ new Date(movie.year).getFullYear() }})
          </span>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
import { debounce } from 'vue-debounce'

export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
        vm.$store.dispatch('fetch_movies')
    })
  },
  data () {
    return {
      searchQuery: '',
      genre: '',
      params: {}
    }
  },
  watch: {
    searchQuery: debounce(function(val) {
      this.params["title.contains"] = val

      if(!val) {
        delete this.params["title.contains"]
      }

      this.$store.dispatch('fetch_movies', { params: this.params })
    }, 500),
    genre: debounce(function(val) {
      this.params["genre"] = val

      if(!val) {
        delete this.params["genre"]
      }

      this.$store.dispatch('fetch_movies', { params: this.params })
    }, 500),
  },
  computed: {
    movies () {
      return this.$store.getters.movies
    }
  },
  methods: {
    getPreview (entity) {
      return entity.previews && entity.previews.length
        ? entity.previews[0]
        : require('@/assets/image-placeholder.png')
    },
    navigateToMovieDetails (movie) {
      this.$router.push({ name: 'MovieDetails', params: { id: movie._id } })
    }
  }
}
</script>

<style lang="scss">
  .movie-filters {
    display: flex;
    gap: 30px;
  }

  .movie-card {
    cursor: pointer;
    width: 250px;
    margin-top: 20px;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }

    &__list {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
    }

    .md-card-actions {
      margin-top: -10px;
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
  }
</style>