<template>
  <div class="main-view entity-details">
    <carousel class="previews-slider" :perPage="1">
      <slide v-for="preview in previews" :key="preview">
        <img :src="preview" />
      </slide>
    </carousel>
    
    <div class="entity-details__info-block">
      <span class="md-display-1">{{ movie.title }}</span>
      <span class="md-body-2 entity-details__description">{{ movie.description }}</span>
      <div
        v-if="movie.castPersons && movie.castPersons.length"
        class="entity-details__actors-starred"
      ><span class="md-body-2">Актёры:</span>
        <div class="actors-starred-list">
          <router-link
            v-for="actor in movie.castPersons"
            :key="actor._id"
            :to="{ name: 'ActorDetails', params: { id: actor._id } }">{{ actor.name }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.$store.commit('set_movie', {})

      const _id = vm.$route.params.id

      vm.$store.dispatch('fetch_movie', { _id })
    })
  },
  computed: {
    movie () {
      return this.$store.getters.movie
    },
    previews () {
      return this.movie.previews
    }
  },
  data () {
    return {

    }
  },
}
</script>

<style lang="scss">
  .actors-starred-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .entity-details {
    display: flex;

    &__actors-starred {
      margin-top: 10px;
    }

    &__description {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 200;
    }

    &__info-block {
      display: flex;
      max-width: 700px;
      line-height: 2;
      flex-direction: column;
      margin-left: 30px;
    }
  }
  .previews-slider {
    width: 300px;
    height: 600px;
  }
</style>