<template>
  <md-toolbar class="client-toolbar md-transparent">
    <h3 class="md-title">
      <router-link to="/">
        NeKinopoisk
      </router-link>
    </h3>
    <md-tabs md-sync-route class="navigation">
      <md-tab to="/movies" id="tab-movies" md-label="Фильмы" md-icon="movie"></md-tab>
      <md-tab to="/actors" id="tab-actors" md-label="Актёры" md-icon="theater_comedy"></md-tab>
      <md-tab v-if="isAdminLogged" to="/admin" id="tab-dashboard" md-label="Дешборд" md-icon="dashboard"></md-tab>
    </md-tabs>
    <md-button v-if="!this.user" @click.prevent="navigateToProfile" class="md-button">
      <md-icon>account_circle</md-icon>
      {{ username }}
    </md-button>
  </md-toolbar>
</template>

<script>
export default {
  computed: {
    isAdminLogged () {
      return this.user ? this.user.role === 'admin' : false
    },
    user () {
      return this.$store.getters.logged_user
    },
    username () {
      return this.user ? this.user.name : 'Войти'
    }
  },
  methods: {
    navigateToProfile () {
      if(!this.user) {
        this.$router.push({ name: 'AdminAuth' })
      }
    }
  }
}
</script>

<style lang="scss">
  .navigation {
    margin-left: auto;
  }
</style>