<template>
  <div class="">
    <file-upload
      class="upload md-icon-button md-raised md-primary"
      ref="upload"
      v-model="files"
      post-action="https://api.cloudinary.com/v1_1/evilstoat/image/upload?api_key=443687785995658"
      :data="{ upload_preset: 'smt6tja7' }"
      :multiple="multiple"
      :extensions="'gif,jpg,jpeg,png,webp'"
      @input-file="inputFile"
    >
      <md-icon>add</md-icon>
    </file-upload>
  </div>
</template>

<script>
export default {
  props: {
    multiple: {
      type: Boolean,
      default: () => true
    }
  },
  data () {
    return {
      files: []
    }
  },
  methods: {
    inputFile (newFile, oldFile) {
      if (newFile && oldFile && !newFile.active && oldFile.active) {
        this.$emit('file-was-uploaded', newFile.response)
      }

      if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
        if (!this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      }
    },
  }
}
</script>

<style lang="scss">
  .upload {
    padding: 8px 10px 15px;
    height: 40px;
    
    label {
      cursor: pointer;
    }
  }
</style>