<template>
  <div>
    <md-dialog :md-active="modalOptions.show">
      <md-dialog-title>{{ titlesVocabulary[modalOptions.entity] }}</md-dialog-title>

      <md-content md-dynamic-height>
        <div class="entity-list">
          <md-chip
            v-for="entity in formalizedEntityList"
            :key="entity._id"
            class="md-primary"
            md-deletable
            @md-delete="removeEntity(entity)"
          >
            {{ entity.name }} ({{ new Date(entity.date).toLocaleDateString() }})
          </md-chip>
        </div>

        <div class="entity-add">
          <md-field md-clearable>
            <label>Поиск</label>
            <md-input v-model="entitySearchQuery" @input="entitySearch"></md-input>
          </md-field>
          <md-list v-if="entitySearchResult.length">
            <md-list-item
              v-for="entity in entitySearchResult"
              :key="entity._id"
              :disabled="isAddable(entity)"
            >
              <span class="md-list-item-text">{{ entity.name }} ({{ new Date(entity.date).toLocaleDateString() }})</span>
              <md-button @click="addEntityToList(entity)" class="md-icon-button" :disabled="isAddable(entity)">
                <md-icon>add</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </div>
      </md-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="modalOptions.show = false">Close</md-button>
        <md-button class="md-primary" @click="save">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import { debounce } from 'vue-debounce'

export default {
  props: {
    modalOptions: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      selectedEntity: null,
      entitySearchQuery: '',
      entitySearchResult: [],
      formalizedEntityList: []
    }
  },
  mounted () {
    this.formalizedEntityList = this.formalizeEntityList(this.modalOptions.entityList)
    this.entitySearch()
  },
  methods: {
    entitySearch: debounce(async function () {
      const baseUrl = process.env.VUE_APP_BASE_URL;
      const keyParamVocabulary = {
        'movie': 'title',
        'cast-person': 'name'
      }
      const entityName = this.modalOptions.entity
      const searchParam = `${keyParamVocabulary[entityName]}.contains`
      const response = await this.$http.get(`${baseUrl}/${entityName}`, { params: { [searchParam]: this.entitySearchQuery }});


      if ("data" in response) {
        this.entitySearchResult = this.formalizeEntityList(response.data)
      }
    }, 500),
    formalizeEntityList (entityList) {
      return entityList.map(entity => ({
        id: entity._id,
        name: entity.name || entity.title || 'Неизвестно',
        date: entity.birthDate || entity.year || null,
      }))
    },
    addEntityToList(entity) {
      this.formalizedEntityList.push(entity)
    },
    removeEntity(entity) {
      this.formalizedEntityList = this.formalizedEntityList.filter(entityToRemove => entity.id !== entityToRemove.id)
    },
    isAddable(entity) {
      return this.formalizedEntityList.some(entityToCheck => entity.id === entityToCheck.id)
    },
    save () {
      const modalOptions = this.modalOptions
      const entityList = this.formalizedEntityList

      this.$emit('entity-was-modified', { ...modalOptions, entityList })
      this.modalOptions.show = false
    }
  },
  computed: {
    titlesVocabulary () {
      return {
        'movie': "Любимые фильмы",
        'cast-person': "Актёры"
      }
    }
  }
}
</script>

<style>
  .entity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
  }
  .md-chip {
    margin: 0 !important;
  }
  .md-dialog-container {
    width: 700px;
  }
</style>